.input-table, .list {
   h1 {
      @extend .fa-pencil;
      &:before {
         @extend .fa;
         margin-right: 10px;
         color: $color-header-icon;
      }
   }
}

.output-table {
   &.compared {
      &.equal {
         h1 {
            @extend .fa-check;
            &:before {
               color: $color-equal;
            }
         }
      }
      &.not-equal {
         h1 {
            @extend .fa-times;
            &:before {
               color: $color-not-equal;
            }
         }
      }
   }
   h1 {
      @extend .fa-bar-chart;
      &:before {
         @extend .fa;
         margin-right: 10px;
         color: $color-header-icon;
      }
   }
}
