table {
   width: 100%;
}

table, td, tr {
   border-collapse: collapse;
   border: 1px solid $color-table-border;
}

td {
   padding: 4px;
   min-width: 60px;
}

tr {
   color: $color-table-general-text;
   &:first-of-type {
      font-weight: bold;
      color: $color-table-header-text;
   }
}

