/* line 1, ../sass/partials/_page.scss */
html {
  background-color: #fcfcfc;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 6, ../sass/partials/_page.scss */
.page {
  max-width: 1220px;
  position: relative;
  margin: 40px auto;
}

/* line 1, ../sass/partials/_tables.scss */
table {
  width: 100%;
}

/* line 5, ../sass/partials/_tables.scss */
table, td, tr {
  border-collapse: collapse;
  border: 1px solid #999;
}

/* line 10, ../sass/partials/_tables.scss */
td {
  padding: 4px;
  min-width: 60px;
}

/* line 15, ../sass/partials/_tables.scss */
tr {
  color: #212121;
}
/* line 17, ../sass/partials/_tables.scss */
tr:first-of-type {
  font-weight: bold;
  color: #9e9e9e;
}

/* line 1, ../sass/partials/_input.scss */
input {
  width: 100%;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
}
